/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.card {
 display: flex;
 width: 75vw;
 margin: 2rem auto;
 align-items: center;
 gap: 1rem;
}

.cardImg {
    width: 20vw;
}

.left, .right {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    appearance: none;
    cursor: pointer;
    max-height: fit-content;
}

svg {
    min-width: 5vw;
}

.itemCount {
    display: flex;
    align-items: center;
}

input {
    width: 2rem;
    text-align: center;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.submit {
    background-color: var(--tertiary-color);
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
}

.submit:active {
    background-color: #5f808a;
    transform: scale(0.95);
}

.price {
    font-size: calc(0.5rem + 1vw);
    font-weight: bold;
}

.category {
    font-weight: 600;
    font-style: italic;
}



@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .title, .price {
        text-align: center;
    }

    .description, .category {
        text-align: justify;
    }

    .textDiv > * {
        margin-bottom: 0.5rem;
    }
}