.overDiv {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    margin: 2rem auto;
}

img {
    width: calc(30px + 5vw);
}

.infoDiv {
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 1rem;
}

.priceDiv {
    display: flex;
    justify-content: space-between;
}

.submit {
    background-color: var(--tertiary-color);
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    font-size: calc(0.4rem + 1vw);
}

.submit:active {
    background-color: #5f808a;
    transform: scale(0.95);
}

@media screen and (max-width: 768px) {
    .overDiv {
        flex-direction: column;
        text-align: center;
    }
    .priceDiv {
        flex-direction: column;
    }
    .priceDiv > * {
        margin-bottom: 0.5rem;
    }
}