/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

@font-face {
  font-family: 'Squiggle';
  src: url('./assets/fonts/Playwrite_ID/PlaywriteID-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

:root {
  --primary-color: #FED99B;
  --secondary-color: #F7C7DB;
  --tertiary-color: #A0C4E2;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1 {
  font-size: calc(1.5rem + 4vw);
}

#root, #__next {
  isolation: isolate;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

nav {
  font-family: 'Squiggle', 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(1rem, 2vw + 0.5rem, 1.3rem);
}

a {
  color: black;
}

footer {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
}

footer > * {
  display: inline-block;
}

main {
  height: 100%;
}